<v-content>
  <v-container fluid>

    <v-stepper v-model="view.currentStep" class="mt-3 elevation-1 text-md-right">
      <v-stepper-header>
        <v-stepper-step step="1" v-bind:complete="view.currentStep > 1">Выбор абонемента</v-stepper-step>
        <v-divider />
        <v-stepper-step step="2">Оплата</v-stepper-step>
      </v-stepper-header> 
        
      <v-stepper-content step="1">
        <v-row>

          <v-col md8 xs12>
            <v-card class="white z-depth-1 ma-1" :height="this.view.cardHeight">

              <v-card-row class="light-blue darken-3" :height="this.view.cardTitleHeight">
                <v-card-title>
                  <span class="white--text">Аккаунт</span>
                </v-card-title>
              </v-card-row>

              <v-card-text>
                <v-col md10 offset-md1 class="text-md-left">
                  <h6>
                    <b>Регистрационные данные</b>
                  </h6>

                  <p>
                    Для того чтобы предоставить вам максимально комфортные условия посещения тренировок, нам нужно немного информации о вас.
                  </p>

                  <v-text-field secondary label="ФИО" 
                  required :counter="true" max="60" :disabled="view.isBusy"
                  hint="пропуск на тренировку по настоящему имени" persistent-hint 
                  v-model="order.userName" 
                  v-bind:rules="[() => controlHint('userName')]"
                  @input="validate('userName')"></v-text-field>

                  <v-text-field secondary label="Email" 
                  persistent-hint required counter max="40" :disabled="view.isBusy"
                  hint="вход в профиль и полезная информация"
                  v-model="order.email"
                  v-bind:rules="[() => controlHint('email')]"
                  @input="validate('email')"></v-text-field>

                  <v-text-field secondary label="Пароль" 
                  persistent-hint required counter max="20" :disabled="view.isBusy"
                  hint="проверка подлинности профиля"
                  v-model="order.password" type="password"
                  v-bind:rules="[() => controlHint('password')]"
                  @input="validate('password')"></v-text-field>

                  <v-text-field secondary label="Мобильный телефон" 
                  persistent-hint required counter max="10" :disabled="view.isBusy"
                  hint="важные СМС оповещения"
                  v-model="order.phone"
                  v-bind:rules="[() => controlHint('phone')]"
                  @input="validate('phone')"></v-text-field>

                  <v-card-row>
                    <v-col md1 class="disable-flex px-0">
                      <v-checkbox required primary v-model="order.isAgreementAccepted" 
                      class="my-0" :disabled="view.isBusy"/>
                    </v-col>
                    <v-col md11 xs10>
                      <p>Согласен с <a href="#" target="_blank">Правилами пользования сервисом</a></p>
                    </v-col>
                  </v-card-row> 

                  <small class="hidden-sm-and-down">* - обязательные к заполнению поля</small>
                </v-col>
              </v-card-text>
            </v-card>
          </v-col>

          <v-col md4 xs12>
            <v-card class="white z-depth-1 ma-1" :height="this.view.cardHeight">

              <v-card-row class="light-blue darken-3" :height="this.view.cardTitleHeight">
                <v-card-title>
                  <span class="white--text">Абонемент</span>
                </v-card-title>
              </v-card-row>

              <v-card-text>
                <v-col md12 class="text-md-left">
                  <br/>
                  <p>Абонементы различаются числом тренировок и количеством посещений спортивных студий</p>

                  <v-card-row>
                    <v-select class="mt-5"
                      label="Категория"
                      v-bind:items="view.productPlans"
                      v-model="view.selctedProductPlan" light
                      item-value="title"
                      item-text="title"
                      @input="planSelected"
                      :disabled="view.isBusy">

                      <template slot="item" scope="data">
                        <v-list-tile-content v-bind:key="data.item.id">
                          {{ data.item.title }}
                        </v-list-tile-content>
                        <v-list-tile-action>
                          {{ data.item.price }}
                        </v-list-tile-action>
                      </template>

                    </v-select>
                  </v-card-row>

                  <v-card-row>
                    <v-col md10 offset-md1>
                    <v-card-row>
                      <v-col xs6 class="text-md-left">
                        <h6>Период</h6>
                      </v-col>
                      <v-col xs6 class="text-md-right">
                        <h6>1 месяц</h6>
                      </v-col>                      
                    </v-card-row>
                    <v-card-row>
                      <v-col xs6 class="text-md-left">
                        <h6>Цена</h6>
                      </v-col>
                      <v-col xs6 class="text-md-right">
                        <h6>{{view.selctedProductPlan.price}} ₽</h6>
                      </v-col>                      
                    </v-card-row>
                    <p><i> {{ view.selctedProductPlan.description }} </i></p>
                    </v-col>
                  </v-card-row>
                </v-col>
              </v-card-text>

            </v-card>
          </v-col>

        </v-row>
        <small class="hidden-md-and-up">* - обязательные к заполнению поля</small>
        <v-spacer/>
        <v-btn primary 
          v-bind:loading="view.isBusy" 
          v-on:click.native="nextStep" 
          v-bind:disabled="view.isBusy">
          Продолжить
          <span slot="loader" class="custom-loader">
            <v-icon>cached</v-icon>
          </span>
        </v-btn>
      </v-stepper-content>

      <v-stepper-content step="2">
        <v-row>
          <v-col md8 offset-md2 xs12 offset-xs0>
            <v-card class="elevation-0 text-md-center text-xs-center" 
              :height="this.view.cardHeight">
                <h4 class="mt-5">Переходим к оплате...</h4>
                <v-progress-circular 
                  indeterminate 
                  v-bind:size="70" 
                  v-bind:width="7" 
                  class="blue--text mt-5"
                />
            </v-card>
          </v-col>
        </v-row>
      </v-stepper-content>
    </v-stepper>

    <v-dialog v-model="view.isShowDialogWarning" persistent>
      <v-card>
        <v-card-row class="yellow darken-3">
          <v-card-title class="white--text">
          <v-icon left>warning</v-icon>
          <span class="ml-2">Внимание!</span>          
          </v-card-title>
        </v-card-row>
        <v-card-row>
          <v-card-text>
            {{ view.dialogText }}
          </v-card-text>
        </v-card-row>
        <v-card-row actions>
          <v-btn class="blue--text darken-1" flat="flat" 
          @click.native="view.isShowDialogWarning = false">Ok</v-btn>
        </v-card-row>
      </v-card>
    </v-dialog>

  </v-container>
</v-content>