<div class="col-md-6">
    <box-info>
        <h3 slot="header" class="box-title">{{name}}</h3>
        <div slot="header" class="box-tools pull-right">
            <!-- Buttons, labels, and many other things can be placed here! -->
            <!-- Here is a label for example -->
            <span class="label label-primary">{{address}}</span>
        </div>

        <div slot="body">

            <div class="small-box bg-green">
                <div class="inner">
                    <h3>{{totalIncome}}</h3>

                    <p>Доход за месяц</p>
                </div>
                <div class="icon">
                    <i class="fa fa-rub "></i>
                </div>

                <div class="payment-details" v-show="showPaymentDetails">
                    <p class="text-center">
                        <strong>По направлениям</strong>
                    </p>

                    <div class="progress-group" v-for="income in incomes" v-show="showPaymentDetails">
                        <span class="progress-text">{{income.name}}</span>
                        <span class="progress-number"><b>{{income.amount}}</b></span>

                        <div class="progress sm">
                            <div class="progress-bar progress-bar-yellow" :style="'width: ' + income.percentage + '%'"></div>
                        </div>
                    </div>
                </div>

                <a href="javascript:void(0);" class="small-box-footer" @click="togglePaymentDetails()">Детали <i class="fa fa-arrow-circle-right"></i></a>
            </div>

            <div class="small-box bg-yellow">
                <div class="inner">
                    <h3>{{scheduled}}</h3>

                    <p>Записалось</p>
                </div>
                <div class="icon">
                    <i class="ion ion-ios-people-outline"></i>
                </div>

                <div class="payment-details" v-show="showTrainingsDetails">
                    <p class="text-center">
                        
                    </p>

                    <div class="progress-group" v-show="showTrainingsDetails">
                        <span class="progress-text">Посещено</span>
                        <span class="progress-number"><b>{{visited}}</b>/{{scheduled}}</span>

                        <div class="progress sm">
                            <div class="progress-bar progress-bar-green" :style="'width: ' + (visited/scheduled)*100 + '%'"></div>
                        </div>
                    </div>

                    <div class="progress-group" v-show="showTrainingsDetails">
                        <span class="progress-text">Запланировано</span>
                        <span class="progress-number"><b>{{pending}}</b>/{{scheduled}}</span>

                        <div class="progress sm">
                            <div class="progress-bar progress-bar-green" :style="'width: ' + (pending/scheduled)*100 + '%'"></div>
                        </div>
                    </div>

                    <div class="progress-group" v-show="showTrainingsDetails">
                        <span class="progress-text">Отменено</span>
                        <span class="progress-number"><b>{{canceled}}</b>/{{scheduled}}</span>

                        <div class="progress sm">
                            <div class="progress-bar progress-bar-green" :style="'width: ' + (canceled/scheduled)*100 + '%'"></div>
                        </div>
                    </div>
                </div>

                <a href="javascript:void(0);" class="small-box-footer" @click="toggleTrainingsDetails()">Детали <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>
    </box-info>
</div>