<div class="alert" :class="{ 'alert-danger': isError, 'alert-warning': isWarning }" v-if="showBox">
    <button type="button" class="close" @click="close">×</button>
    <h4 v-show="isError"><i class="icon fa fa-ban"></i> Ошибка!</h4>
    <h4 v-show="isWarning"><i class="icon fa fa-warning"></i> Важно!</h4>
    {{message}}
</div>