<div class="box box-primary box-solid" :class="{'collapsed-box': view._isShowDetails}">

    <div class="box-header">        

        <slot name="icon" />
        <div class="box-header-info">
            <slot name="header" />
        </div>

        <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" @click="showDetails" >
                <i class="fa" :class="{'fa-plus': !view._isShowDetails, 'fa-minus': view._isShowDetails}"></i>
            </button>
        </div>

    </div>    


    <div v-if="view._isShowDetails" class="box-body">
        
        <spinner-overlay :isBusy="isBusy" />

        <slot name="body" />

    </div> <!-- Box body container -->

</div>
