.box {
    .box-header {
        >.fa {
            width: 30px;
            height: 30px;
            font-size: 15px;
            line-height: 30px;
            color: #666;
            background: #d2d6de;
            border-radius: 50%;
            text-align: center;
            left: 18px;
            top: 0;

            &.pull-right {
                background: none;
                border-radius: 100%;
                cursor: pointer;
            }
        }

        .box-header-info {
            display: inline-table;
        }

        .box-description {
            display: block; 
            // color: #999;
            font-size: 13px;
        }
                
        &.with-border {
            border-bottom: 1px solid #f4f4f4;
        }
    }

    &.collapsed-box .box-body {
        display: block; 
    }
}