<div class="box box-solid">
  <div class="box-header with-border">
    <slot name="header">
      <i class="fa fa-info"></i>
      <h3 class="box-title">Info</h3>
    </slot>
  </div>
  <!-- /.box-header -->
  <div class="box-body" :class="{ 'no-padding': noPadding }">
    <spinner-overlay :isBusy="isBusy" />
    <slot name="body"></slot>
  </div>
  <!-- /.box-body -->
  <div class="box-footer" v-if="showFooter">
    <slot name="footer">
    
    </slot>
  </div>
</div>