<collapsable-box @open="studioDetails" @close="hideDetails" :is-busy="isBusy">
    
    <i slot="icon" class="fa" :class="{'fa-check bg-green': studio.enabled, 'fa-times bg-yellow': !studio.enabled}"></i> 
    <div slot="header">     
        <h3  class="box-title">{{studio.title}}</h3>        
        <div class="box-description">{{studio.address}}</div>
    </div>

    <div slot="body">

        <div class="row" v-if="showAttentions">
            <div class="col-md-12">
                <alert-box :title="'Внимание!'" :messages="attentions" @close="attentions = []"/>
            </div>
        </div>

        <div class="row">

            <div class="col-md-3">
                <studio-partial-info title="Информация" iconClass="fa-info" @edit="showEditInfo = true">
                    <dl slot="body" class="dl-horizontal">
                        <dt title="Видимость информации студии для пользователей">Статус</dt>
                        <dd>
                            <i class="fa" :class="{'fa-check': studio.enabled, 'fa-times': !studio.enabled}"/> 
                            {{studio.enabled ? 'Активна' : 'Отключена'}}
                        </dd>
                        <br/>
                        <dt>Телефон</dt>
                        <dd>{{studio.phone}}</dd>
                        <dt>Мобильный</dt>
                        <dd>{{studio.mobile ? studio.mobile : '-'}}</dd>
                        <dt>Email</dt>
                        <dd>{{studio.email ? studio.email : '-'}}</dd>
                        <br/>
                        <dt>Город</dt>
                        <dd>{{studio.city}}</dd>
                        <dt>Область</dt>
                        <dd>{{studio.state}}</dd>
                        <dt>Индекс</dt>
                        <dd>{{studio.zip ? studio.zip : '-'}}</dd>
                    </dl>
                </studio-partial-info>
            </div>

            <div class="col-md-3">
                <studio-partial-info title="Виды классов" iconClass="fa-th" @edit="showEditCategories = true">
                <ul slot="body" class="dl-horizontal">
                    <li v-for="category in studio.classCategories">{{category.title}}
                    </li>
                </ul>
              </studio-partial-info>
            </div>

            <div class="col-md-3">
              <studio-partial-info title="Преимущества" iconClass="fa-cubes" @edit="showEditFacilities = true">
                <ul slot="body" class="dl-horizontal">
                    <li v-for="facility in facilities">
                        {{facility}}
                    </li>
                </ul>
              </studio-partial-info>
            </div>

            <div class="col-md-3">
                <box-info :no-padding="true">
                    <i slot="header" class="fa bg-aqua" :class="'fa-map'" ></i>
                    <h3 slot="header" class="box-title">Расположение</h3>
                    <div slot="body" v-google-map="{mapsProvider: GoogleMaps, lat: studio.lat, lng: studio.lng, zoom: 17}" 
                    style="height: 250px;"></div>
                </box-info>
            </div>

        </div>

        <div class="row">
            <div class="col-md-12">          
                <button type="button" class="btn btn-danger" @click="showDeleteApprove = true">
                    Удалить
                </button>

                <button type="button" class="btn" 
                :class="{'btn-warning': studio.enabled, 'btn-success': !studio.enabled}" 
                @click="toggleStudio">
                    {{ studio.enabled ? 'Отключить' : 'Включить'}}
                </button>
            </div>
        </div>
    
        <studio-edit v-if="showEditInfo" title="Редактирование студии" 
        :studio="studio.clone()" @close="showEditInfo = false" :isUpdateMode="true"/>

        <categories-edit v-if="showEditCategories" title="Редактирование видов" 
        :studio="studio.clone()" @close="showEditCategories = false"/>

        <facilities-edit v-if="showEditFacilities" title="Редактирование преимуществ"
        :studio="studio.clone()" @close="showEditFacilities = false"/>

        <modal title="Подтвердите удаление" v-if="showDeleteApprove" 
        submitTitle="Подтвердить" submitBtnClasses="btn-danger" closeBtnClasses="btn-success"
        @close="showDeleteApprove = false" @submit="deleteStudio">
            <center slot="body">
                <p>Расписание и классы связанные с этой студией будут удалены.</p>
                <p><b>Вы уверены что хотите удалить студию "{{studio.title}}"?</b></p>
            </center>
        </modal>

    </div>

</collapsable-box>