<li>
    <!-- timeline icon -->
    <i class="fa" :class="{ 'fa-clock-o bg-grey': isValid === null, 'fa-check bg-green': isValid === true, 'fa-times-circle-o bg-red': isValid === false }"></i>
    <div class="timeline-item">
        <h3 class="timeline-header">Адрес организации</h3>

        <div class="timeline-body">
            <form role="form">
                <text-input field="city" title="Город *" :value="city" :change="onChange" :validation-results="validationResults"></text-input>
                <text-input field="state" title="Область" :value="state" :change="onChange" placeholder="Ленинградская область" :validation-results="validationResults"></text-input>
                <text-input field="address" title="Адрес *" :value="address" :change="onChange" :validation-results="validationResults"></text-input>
                <text-input field="zip" title="Почтовый индекс" :value="zip" :change="onChange" :validation-results="validationResults"></text-input>
            </form>
        </div>

        <!--<div class="timeline-footer">

        </div>-->
    </div>
</li>