<studio-card :isBusy="isBusy">
    <v-card-text slot="content" v-if="!isBusy">
        <h6 class="small grey--text">ГАЛЕРЕЯ</h6>
        <v-parallax src="/public/doc-images/parallax/cosmos.jpg" height="150"></v-parallax>
    </v-card-text>
</studio-card>