<a class="logo">
    <!-- mini logo for sidebar mini 50x50 pixels -->
    <span class="logo-mini"><b>S</b>PT</span>
    <!-- logo for regular state and mobile devices -->
    <span class="logo-lg"><b>Sport</b>Port</span>
</a>