<div class="row">
    <div class="col-md-12">

        <div class="row">
            <div class="col-md-12">                
                <div class="page-header-rich">
                    <h2>Статистика</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="info-box">
                    <span class="info-box-icon bg-green"><i class="fa fa-rub"></i></span>

                    <div class="info-box-content">
                        <span class="info-box-text">Доход за месяц</span>
                        <span class="info-box-number">{{totalIncome}}</span>
                    </div>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
            </div>

            <div class="col-md-4 col-sm-6 col-xs-12">
              <div class="info-box">
                <span class="info-box-icon bg-yellow"><i class="ion ion-ios-people-outline"></i></span>

                <div class="info-box-content">
                  <span class="info-box-text">Записалось</span>
                  <span class="info-box-number">{{totalScheduled}}</span>
                </div>
                <!-- /.info-box-content -->
              </div>
              <!-- /.info-box -->
            </div>
        </div>

        <div class="row">
            <studio v-for="studio in studios" :studio="studio"></studio>
        </div>
    </div>
</div>