<div v-bind:style="{ width: size, height: size }" style="align-items: center;">
    <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" 
        v-bind:viewBox="paths[path].viewbox" style="width: 100%; height: 100%" v-bind:style="{ fill: color }" >
        <path v-bind:d="paths[path].d" v-bind:color="color"
        overflow="visible" enable-background="accumulate">
        </path>
    </svg>
</div>