<transition name="modal">
  <div class="modal-mask">
    <div class="modal-wrapper">
      <div class="modal-container">

        
        <div class="modal modal-primary">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" @click="$emit('close')">
                  <span aria-hidden="true">×</span>
                </button>                
                <h4 class="modal-title">{{title}}</h4>
              </div>

              <div class="modal-body">
                <spinner-overlay :isBusy="isBusy" />

                <slot name="body">
                  Modal body going here
                </slot>

              </div>

              <div class="modal-footer">

                <slot name="footer">
                  <button type="button" class="btn pull-left" :class="closeBtnClasses"
                  data-dismiss="modal" @click="$emit('close')">{{closeTitle}}</button>

                  <button type="button" class="btn" :class="submitBtnClasses"
                  @click="$emit('submit')">{{submitTitle}}</button>
                </slot>

              </div>
            </div>

            <!-- /.modal-content -->
          </div>
          <!-- /.modal-dialog -->
        </div>




      </div>
    </div>
  </div>
</transition>