.modal-mask {
    position: fixed;
    z-index: 9998;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    overflow-y: scroll;
    overflow-x: scroll;
    // display: table;
    transition: opacity .3s ease;
}

.modal-wrapper {
    display: table-cell;
    vertical-align: middle;
    width: 100%;  
    position: absolute;
}

.modal-container {
    // width: 600px;
    margin: 0px auto;
    // padding: 20px 30px;
    // background-color: #fff;
    border-radius: 2px;
    transition: all .3s ease;
}

.modal-container .overlay, .overlay-wrapper .overlay {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 50;
    background: rgba(0,0,0,0.1);
    border-radius: 3px;
    width: 100%;
    height: 100%;
}

.modal-container .overlay>.fa, .overlay-wrapper .overlay>.fa {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -15px;
    margin-top: -15px;
    color: #000;
    font-size: 30px;
}


//Theme

.bg-light-blue, .label-primary, .modal-primary .modal-body {
    background-color: #3c8dbc !important;
}

//

.modal {
    background: rgba(0, 0, 0, 0);
}

.modal-container .modal {
    position: relative;
    top: auto;
    bottom: auto;
    right: auto;
    left: auto;
    display: block;
    z-index: 1;
}

.modal-dialog {
    width: 600px;
    margin: 30px auto;
}

.modal-content {
    -webkit-box-shadow: 0 5px 15px rgba(0,0,0,.5);
    box-shadow: 0 5px 15px rgba(0,0,0,.5);
}

.modal-content {
    position: relative;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #999;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 6px;
    outline: 0;
    -webkit-box-shadow: 0 3px 9px rgba(0,0,0,.5);
    box-shadow: 0 3px 9px rgba(0,0,0,.5);
}

.bg-light-blue-active, .modal-primary .modal-header, .modal-primary .modal-footer {
    background-color: #357ca5 !important;
}

.modal-body {
    position: relative;
    padding: 15px;
}

.modal-primary .modal-body {
    background-color: #fff !important;
    color: #000 !important;
}