    <v-toolbar>    
        <v-toolbar-side-icon @click.native.stop="sideIconClick" class="hidden-sm-and-up"/>
        <v-toolbar-title><a href="/">SportPort</a></v-toolbar-title>
        <v-toolbar-items class="hidden-sm-and-up">
            <v-menu bottom left offset-y origin="top right" transition="v-slide-y-transition">
              <v-btn icon dark slot="activator" v-on:click.native="menuIconClick">
                <v-icon>more_vert</v-icon>
              </v-btn>
              <v-list>
                <v-list-item>
                <router-link :to="{name: 'search'}">
                  <v-list-tile>
                    <v-list-tile-title v-text="`Поиск`"></v-list-tile-title>
                  </v-list-tile>
                </router-link>
                </v-list-item>                
              </v-list>
            </v-menu>
        </v-toolbar-items>
        <v-toolbar-items class="hidden-sm-and-down toolbar__links my-0">
            <router-link :to="{name: 'search'}" class="toolbar__item">
              Поиск
            </router-link>
        </v-toolbar-items>
        <v-spacer class="hidden-sm-and-down"></v-spacer>
    </v-toolbar>
