<v-card hover raised secondary class="ma-1">
    <v-card-row>
      <v-card-text>          
        <div class="row">
          <div class="col-md-8 col-xs-6">
            <h6 class="teal--text">{{scheduleItem.classTitle}}</h6>
          </div>  
          <div class="col-md-2 col-xs-2">
            <p class="teal--text description--text">
              {{getClassCategory(scheduleItem.categoryId)}}
            </p>
          </div>   
          <div class="col-md-2 col-xs-4 card__text--time teal--text">
            {{formattedTime(scheduleItem.startTime)}}
          </div>
        </div>

        <div class="row">
          <div class="col-md-8 col-xs-6">
              <div class="row">
                <div class="col-md-3">
                  <p class="description--text">
                    <span class="grey--text">
                      <i class="fa fa-cube grey--text"></i>
                      {{scheduleItem.studioTitle}}
                    </span>
                  </p>
                </div>
                <div class="col-md-3">
                  <p class="description--text">
                    <span class="grey--text">
                      <i class="fa fa-map-marker grey--text"></i>
                      {{scheduleItem.address}}
                    </span>
                  </p>
                </div>
            </div>
          </div>  
          <div class="col-md-2 col-xs-2">
          </div>   
          <div class="col-md-2 col-xs-4 card__text--time teal--text">
            {{formattedTime(scheduleItem.endTime)}}
          </div>
        </div>

      </v-card-text>
    </v-card-row>
</v-card>