<div class="alert alert-warning alert-dismissible">
    <button type="button" class="close" @click="$emit('close')">×</button>
    <h4><i class="icon fa fa-warning"></i> {{title}}</h4>
    <ul>
        <li v-for="message in messages">{{message}}</li>
    </ul>
</div>
