<v-content>
	<v-container fluid>

	<v-row class="mt-4">
		<v-col md4 xs12>
			<studio-card :isBusy="view.isBusy">
				<v-card-text slot="content" v-if="!view.isBusy">
					<h6 class="hidden-md-and-down">{{studio.title}}</h6>
					<h4 class="hidden-md-and-up">{{studio.title}}</h4>
			    	<router-link active-class="active" :to="{name: 'studios', query: { classcategories: category.id }}" v-for="category in studio.classCategories" >
			    		<v-chip class="primary white--text mx-1 chip__link">{{category.title}}</v-chip>
			    	</router-link>
				</v-card-text>
			</studio-card>

			<studio-description :studio="studio" :isBusy="view.isBusy" 
				class="mt-2 hidden-sm-and-up"/>

			<studio-card :isBusy="view.isBusy" class="mt-2">
				<v-card-text slot="content" v-if="!view.isBusy">
					<h6 class="small grey--text">УДОБСТВА</h6>
	                
	                <div class="studio--facility--circle mr-1" 
	                v-for="facility in studio.facilities" 
	                v-tooltip:top="{ html: facilityName(facility) }">
	                	<svg-icon class="ml-2 mt-1" :path="facilityIcon(facility)" color="#0277bd" size="35px" />
	                </div>
				</v-card-text>
			</studio-card>

			<studio-card :isBusy="view.isBusy" class="mt-2">
				<v-card-text slot="content" v-if="!view.isBusy">
					<h6 class="small grey--text">КОНТАКТЫ</h6>
			    	<div class="studio--contacts">			    	
				    	<dl class="inline-flex">
					    	<dt class="grey--text"><i class="fa fa-phone mr-2"/>Телефон</dt>
					    	<dd>{{studio.phone}}</dd>
					    	<dt class="grey--text"><i class="fa fa-map-marker mr-2"/>Адрес</dt>
					    	<dd>{{studio.address}}</dd>
					    </dl>
				    </div>
				</v-card-text>
			</studio-card>

			<studio-card :isBusy="view.isBusy" class="mt-2" height="180px">
				<v-card-row slot="row" v-if="!view.isBusy" height="180px" v-google-map="{mapsProvider: GoogleMaps, lat: studio.lat, lng: studio.lng, zoom: 16}">
				</v-card-row>
			</studio-card>

			<studio-gallery :studio="studio" :isBusy="view.isBusy" class="mt-2 hidden-sm-and-up"/>

			<studio-card :isBusy="view.isBusy" class="mt-2">
				<v-card-text slot="content" v-if="!view.isBusy"
					class="text-md-center text-xs-center">
					<a :href="studioEmailLink">
						<i class="fa fa-envelope-o fa-3x mr-3"/>
					</a>
					<a v-if="studioVkLink" :href="studioVkLink">
						<i class="fa fa-vk fa-3x mr-3"/>
					</a>
					<a v-if="studioInstaLink" :href="studioInstaLink">
						<i class="fa fa-instagram fa-3x mr-3"/>
					</a>
				</v-card-text>
			</studio-card>
		</v-col>

		<v-col md8 xs12 class="hidden-md-and-down">
			<studio-description :studio="studio" :isBusy="view.isBusy"/>

			<studio-gallery :studio="studio" :isBusy="view.isBusy" class="mt-2"/>
		</v-col>		
	</v-row>

	<modal-dialog icon="warning" :isVisible="view.dialogModalVisible" title="Внимание!" type="info"
		@close="view.dialogModalVisible = false">
		<v-card-text slot="content">
			{{ errorConstants.serverError }}
		</v-card-text>
	</modal-dialog>

	</v-container>
</v-content>