
div {
    &.card__text {
        a {
            span.chip__link {
                cursor: pointer;
            }
        }

        // a:hover {
        //     text-decoration: none;
        // }
    }

    &.studio--facility--circle {
        border: 2px solid #0277bd;
        background-color: #FFFFFF;
        height: 52px;
        border-radius:50%;
        width: 52px;
        float: left;    
    }

    &.center--content {
        text-align: center;
        vertical-align: middle;
    }

    &.studio--contacts {
        dl.inline-flex {
          display: flex;
          flex-flow: row;
          flex-wrap: wrap;
          // width: 300px;      /* set the container width*/
          overflow: visible;
          margin-bottom: 0px;
        }
        dl.inline-flex dt {
          flex: 0 0 40%;
          margin-top: 3px;
          text-overflow: ellipsis;
          overflow: hidden;

          i {
            width: 11px;
          }
        }
        dl.inline-flex dd {
          flex:0 0 60%;
          margin-top: 3px;
          margin-left: auto;
          text-align: left;
          text-overflow: ellipsis;
          overflow: hidden;
        }
    }
}