<div class="content-wrapper main-content">
    <router-view name="header"></router-view>
    <content-header v-if="showHeader"></content-header>
    <section class="content">
        <alert-box></alert-box>
        <router-view v-if="showMainContent"></router-view>
    </section>
</div>