<div class="row">
	<div class="col-md-12">
		<div class="box-header">
			<div class="box-header-info">
				<h2>Обратная связь</h2>
			</div> 
			<div class="box-tools pull-right">

            </div>
        </div>


	<box-info :showFooter="true" :isBusy="view._isBusy">
	    <h3 slot="header" class="box-title">Сообщение {{ view._formSubmitted ? 'доставлено' : '' }}</h3>
	    <div slot="body">
	        <div name="body" >
	        	<div v-if="!view._formSubmitted">
					<text-input field="title" title="Заголовок *" :value="_feedback.title" :change="onChange" :validation-results="validationResults"></text-input>

		        	<div class="form-group">
				      <label>Описание *</label>
				      <textarea class="form-control" rows="3" placeholder="Поделитесь Вашим видением системы управления" v-model="_feedback.message"></textarea>
				    </div>
			    </div>
			    <div v-if="view._formSubmitted">
				    <h3>
						Спасибо!
				    </h3>
				</div>
	        </div>
	    </div>
	    <div slot="footer">
		    <button type="submit" class="btn btn-success pull-right" v-if="!view._formSubmitted"
		    	@click="save">
		    	Отправить
		    </button>
		    <button type="submit" class="btn btn-primary pull-right" v-if="view._formSubmitted"
		    	@click="createNewMessage">
		    	Новое сообщение
		    </button>
	    </div>
	</box-info>

    </div>
</div>