<v-card hover raised secondary class="ma-1">
    <v-card-row>
      <v-card-text>          
        <div class="row">
          {{ studio.title }}
        </div>

      </v-card-text>
    </v-card-row>
</v-card>