<footer class="main-footer">
    <!-- To the right -->
    <div class="pull-right hidden-xs">
      Anything you want
    </div>
    <!-- Default to the left -->
    <strong>Copyright © 2017 <a href="#">Sportport</a>.</strong> All rights reserved.
  </footer>