<box-info :no-padding="classes.length > 0">
    <h3 slot="header" class="box-title">{{title}}</h3>
    <div slot="header" class="box-tools pull-right">
        <span class="label label-default">{{address}}</span>
    </div>
    <class-list slot="body" :classes="classes" :studioId="studio.id"></class-list>
</box-info>