<div class="form-group" :class="{ 'has-success': isValid === true, 'has-error': isValid === false }">
    <label class="control-label" :for="id">
     <i class="fa" :class="{ 'fa-check': isValid === true, 'fa-times-circle-o': isValid === false }"></i>
     <span>{{title}}</span>
    </label>
    <input type="text" class="form-control" :id="id" :placeholder="placeholder" :value="value" @input="onChange" :disabled="isDisabled">
    <span class="help-block">{{validationMessage}}</span>
</div>