<ul class="dropdown-menu">
    <!-- The user image in the menu -->
    <li class="user-header">
        <img :src="avatar" class="img-circle" alt="User Image">

        <p>
            {{username}} - {{role}}
            <small></small>
        </p>
    </li>
    <li class="user-footer">
        <div class="pull-left">
            <router-link class="btn btn-default btn-flat" to="profile">Профиль</router-link>
        </div>
        <div class="pull-right">
            <a class="btn btn-default btn-flat" @click="logout">Выйти</a>
        </div>
    </li>
</ul>