<div class="row">
    <div class="col-md-4">
        <ul class="timeline">

            <li class="time-label">
                <span class="bg-gray">Компания</span>
            </li>
            
            <company-info v-if="company" :company="company" :change="onChange" :validation-results="validationErrors"></company-info>
            <company-address v-if="company" :company="company" :change="onChange" :validation-results="validationErrors"></company-address>

            <li v-if="company">
                <i class="fa" :class="{ 'fa-hourglass-start fa-spin': status !== 'loaded', 'fa-save':  status === 'loaded', 'bg-grey': isValid === null, 'bg-green': isValid === true, 'bg-red': isValid === false }"></i>
                <div class="timeline-item">

                    <div class="timeline-body">
                        <form role="form">
                            <button :disabled="!isValid || status !== 'loaded'" type="button" class="btn btn-primary" @click="save">Сохранить</button>
                        </form>
                    </div>

                </div>
            </li>

            <li>
                <i class="fa"  :class="{ 'fa-hourglass-start fa-spin': status !== 'loaded' && !company, '':  status === 'loaded', 'bg-grey': isValid === null, 'bg-green': isValid === true, 'bg-red': isValid === false }"></i>
            </li>
            
        </ul>
    </div>
</div>