<v-dialog v-model="isVisible" persistent>
  <v-card>
    <v-card-row :class="headerClasses">
      <v-card-title class="white--text">
      <v-icon v-if="icon" left>{{icon}}</v-icon>
      <span class="ml-2">{{title}}</span>          
      </v-card-title>
    </v-card-row>
    <v-card-row>
      <slot name="content"/>
    </v-card-row>
    <v-card-row actions>
      <slot name="actions">
        <v-btn class="blue--text darken-1" flat="flat" 
        @click.native="$emit('close')">Ok</v-btn>
      </slot>
    </v-card-row>
  </v-card>
</v-dialog>