<aside class="main-sidebar" v-sidebar-control="{ minimize: minimizeSidebar }">

    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">

      <div class="user-panel" v-if="showSidebar">
        <div class="pull-left image">
          <img v-if="profile" :src="profile.avatarUrl" class="img-circle" alt="User Image">
        </div>
        <div class="pull-left info">
          <p v-if="profile" >{{profile.name}}</p>
        </div>
      </div>

      <ul class="sidebar-menu" v-if="showSidebar"> 
        <li class="header">МЕНЮ</li>

        <router-link active-class="active" :to="{name: 'dashboard'}" tag="li"><a href="javascript:void(0);"><i class="fa fa-bar-chart"></i><span>Статистика</span></a></router-link>
        <router-link active-class="active" :to="{name: 'company', params: { id: 1 }}" tag="li"><a href="javascript:void(0);"><i class="fa fa-bank"></i><span>Компания</span></a></router-link>
        <router-link active-class="active" :to="{name: 'studios', params: { id: 1 }}" tag="li"><a href="javascript:void(0);"><i class="fa fa-share-alt"></i><span>Студии</span></a></router-link>
        <schedule-menu :sidebar-minimized="minimizeSidebar"></schedule-menu>
        <router-link active-class="active" :to="{name: 'feedback', params: { id: 1 }}" tag="li"><a href="javascript:void(0);"><i class="fa fa-comments"></i><span>Обратная связь</span></a></router-link>
      </ul>
    </section>

  </aside>