<studio-card :isBusy="isBusy">
    <v-card-row height="120px" slot="row" v-if="!isBusy">
        * Main studio image here *
    </v-card-row>
    <v-card-row slot="row"  v-if="!isBusy">
        <v-card-text>
            <p>{{ studio.description }}
                Sample text
            </p>
        </v-card-text>
    </v-card-row>
</studio-card>