<div class="row">
	<div class="col-md-12">
        <div class="row">
            <div class="col-md-12">                
                <div class="page-header-rich">
                    <h2 >Студии</h2>
                    <div class="box-tools">
                        <button type="button" class="btn btn-primary margin" @click="showEdit = true"><i class="fa fa-plus"></i></button>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12" v-if="studios.length > 0">
                <studio-info v-for="studio in studios" :studio="studio" 
                    :is-get-details="studios.length === 1">
                </studio-info>
            </div>
            <div class="col-md-12" v-else="studios.length > 0">
                <h4>Нет студий</h4>
            </div>
        </div>     
		
	</div>

    <studio-edit v-if="showEdit" @close="showEdit = false" :isUpdateMode="false" :title="'Добавление студии'">
        
    </studio-edit>
</div>