<div class="error-page">
    <h2 class="headline text-yellow"> 500</h2>

    <div class="error-content">
        <h3><i class="fa fa-warning text-red"></i> Упс! Что-то пошло не так.</h3>

        <p>
            Произошла ошибка, которую мы никак не ожидали.
        </p>


    </div>
    <!-- /.error-content -->
</div>