@import '../../node_modules/vuetify/src/stylus/settings/_colors'

@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons");

$theme := {
  primary: $light-blue.darken-3
  accent: $red.accent-2
  secondary: $light-blue.darken-4
  info: $blue.lighten-1
  warning: $amber.darken-2
  error: $red.accent-4
  success: $green.lighten-2
}

@import '../../node_modules/vuetify/src/stylus/settings/_variables'

$list-item-single-height := 40px
$list-item-dense-single-height := 38px
$list-item-avatar-single-height := 40px
$list-item-dense-avatar-single-height := 40px

@import '../../node_modules/vuetify/src/stylus/main';

.custom-loader
  animation: loader 1s infinite
  display: flex
 
@keyframes loader
  from
    transform: rotate(0)
 
  to
    transform: rotate(360deg)

.btn, .btn:focus
  	outline: 0

.footer
    z-index: 6;
    
a:hover {
  text-decoration: none;
}
