<v-sidebar v-model="sidebar" drawer :close-on-click="false" height="100%" class="schedule-search">

  <v-list dense>
    </br>
    <v-list-item>
      <v-list-tile>
        <v-list-tile-content>
          <v-text-field v-model="view.title" label="Название" hide-details single-line dark/>
        </v-list-tile-content>
      </v-list-tile>          
    </v-list-item> 

    <v-list-item class="schedule__dayofweek" v-if="isScheduleMode">
      <v-list-tile>
        <v-menu offset-y class="full-width">
          <v-btn slot="activator" class="full-width">
            <i class="fa fa-calendar mr-2"></i>
            {{view.currentDay.title}}
          </v-btn>
          <v-list>
            <v-list-item v-for="day in view.daysOfWeek" :key="item" class="tile--text"
             @click="dayChanged(day)">
              <v-list-tile>
                <v-list-tile-title class="schedule__dayofweek__title">{{ day.title }}</v-list-tile-title>
              </v-list-tile>
            </v-list-item>
          </v-list>
        </v-menu>
      </v-list-tile>          
    </v-list-item>      
  </v-list>

  <v-list dense subheader v-if="isScheduleMode">
    <v-subheader style="color: white;">Время начала</v-subheader>
    <v-list-item>
      <v-list-tile>
        <v-list-tile-content>
          <v-slider light="light" v-model="view.startTimeMinutes" v-bind:max="maxTimeInMinutes" @input="sliderChange" style="padding: 0 10px 0 10px;"/>
        </v-list-tile-content>
        <v-list-tile-action>
          <div class="list__tile__sch_time">
              <h6 style="color: white;">{{convertedStartTime}}</h6>
          </div>
        </v-list-tile-action>            
      </v-list-tile>          
    </v-list-item>       
  </v-list>

  <v-list>
    <v-list-group no-action>
      <v-list-tile slot="item">
        <v-list-tile-content>
          <v-list-tile-title>Категории</v-list-tile-title>
        </v-list-tile-content>
        <v-list-tile-action>
          <v-icon>keyboard_arrow_down</v-icon>
        </v-list-tile-action>
      </v-list-tile>
      <v-list-item v-for="(category, i) in view.classCategories" v-bind:key="i" 
      @click="category.selected = !category.selected">
        <v-list-tile avatar>
          <v-list-tile-action>
            <v-checkbox primary disabled v-model="category.selected"/>
          </v-list-tile-action>
          <v-list-tile-content>
            <v-list-tile-title>{{category.title}}</v-list-tile-title>              
          </v-list-tile-content>
        </v-list-tile>
      </v-list-item>
    </v-list-group>      
  </v-list>

  <v-list>
    <v-list-group no-action>
      <v-list-tile slot="item">
        <v-list-tile-content>
          <v-list-tile-title>Удобства</v-list-tile-title>
        </v-list-tile-content>
        <v-list-tile-action>
          <v-icon>keyboard_arrow_down</v-icon>
        </v-list-tile-action>
      </v-list-tile>
      <v-list-item v-for="(facility, i) in view.facilities" v-bind:key="i"
        @click="facility.selected = !facility.selected">
        <v-list-tile avatar>
          <v-list-tile-action>
            <v-checkbox primary disabled v-model="facility.selected"/>
          </v-list-tile-action>
          <v-list-tile-content>
            <v-list-tile-title>{{facility.title}}</v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
      </v-list-item>
    </v-list-group>      

    <v-list-item>
      <v-list-tile>
        <v-list-tile-content style="flex-direction: row;">
          <v-btn primary
            v-bind:loading="isBusy" 
            v-on:click.native="searchItems" 
            v-bind:disabled="isBusy">
            <v-icon left>search</v-icon>Найти
            <span slot="loader" class="custom-loader">
              <v-icon>cached</v-icon>
            </span>
          </v-btn>
        </v-list-tile-content>
      </v-list-tile>          
    </v-list-item> 

  </v-list>

</v-sidebar>