    
// aside {
// 	&.hidden-overflow {
// 		overflow: hidden;
// 	}
// }

@media (min-width: 1200px) {
    div .width-auto {
        width: auto;
    }

    .content__search {
        height: ~'calc(100% - 78px)';
        overflow-y: scroll;
        overflow-x: hidden;
        position: absolute;
        width: ~'calc(100% - 300px)';
    }
}

div {
	.list__tile__sch_time {
		margin-left: 10px;
	}

	.list {
	  	&__tile {
	    	height: 42px    
	    }       
	    
	    .avatar {
	      	min-width: 42px
	    }
	            
	    &__action {
	      	min-width: 42px
	    }
    }

    .schedule__dayofweek {
    	.btn--raised {
    		box-shadow: none;
    		background: none;
    	}

    	button:active {
    		color: #fff;
    	}

    	.full-width {
    		width: 100%;
    	}

    	.menu__content {
    		background-color: #337ab7;
    	}
		
		&__title {    		
			font-size: 15px !important;
    	}
    }
}