<tr>
    <td>
        <span class="label label-success" v-if="classItem.enabled">Активен</span>
        <span class="label bg-gray color-palette" v-else="classItem.enabled">Неактивен</span>
    </td>
    <td>{{classItem.title}}</td>
    <td class="schedules">
        <span 
            v-for="schedule in schedules"
            class="label schedule-item"
            :class="{ 'label-success': schedule.isScheduled, 'bg-gray color-palette': !schedule.isScheduled}"
            @click="editSchedule(schedule)">{{schedule.labelShort}}</span>
    </td>
    <td>{{category.title}}</td>
    <td>
        <button type="button" class="btn btn-default" @click="editClass"><i class="fa fa-pencil"></i></button>
        <button type="button" class="btn btn-danger" @click="showDeleteApprove = true"><i class="fa fa-trash"></i></button>
    </td>
    <schedule-edit v-if="showEditSchedule" :classItem="classItem" :dayOfWeek="editDay" @close="showEditSchedule = false" :title="editTitle" :schedules="editSchedules"></schedule-edit>

    <modal title="Подтвердите удаление" v-if="showDeleteApprove" 
    submitTitle="Подтвердить" submitBtnClasses="btn-danger" closeBtnClasses="btn-success"
    @close="showDeleteApprove = false" @submit="deleteClass">
        <center slot="body">
            <p>Расписание связанное с этим классом будет удалено.</p>
            <p><b>Вы уверены что хотите удалить класс "{{classItem.title}}"?</b></p>
        </center>
    </modal>
</tr>