.schedules {
    .schedule-item {
        margin: 3px;
        cursor: pointer;
        width: 10%;
	    display: inline-block;
	    min-width: 30px;
	    height: 25px;
	    padding: 7px;
	    font-size: 90%;
    }
}