<div>
    <div class="wrapper" v-if="isAuthorized">
        <spinner></spinner>
        <main-header></main-header>
        <main-sidebar></main-sidebar>
        <main-content></main-content>
        <main-footer></main-footer>
        <control-sidebar></control-sidebar>
        <control-sidebar-background></control-sidebar-background>
    </div>
    <spinner-overlay title="Авторизация..." :isBusy="!isAuthorized" />
</div>