<v-card :class="{ 'center--content': isBusy }" :height="height">
    <v-progress-circular v-if="isBusy"
      indeterminate 
      v-bind:size="30" 
      v-bind:width="3" 
      class="blue--text ma-3"
    />
    <slot name="row">
      <v-card-row v-if="!isBusy" height="height">
        <slot name="content" />
      </v-card-row>
    </slot>
</v-card>