<modal :title="title" @close="$emit('close')" @submit="save" :isBusy="isBusy">
    <div slot="body">

        <div v-if="serverError" class="alert alert-warning alert-dismissible">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            <h4><i class="icon fa fa-warning"></i> Alert!</h4>
            {{serverError}}
        </div>

        <form role="form">

            <div class="checkbox" v-for="_category in _classCategories">
              <label class="control-label">
                <input type="checkbox" v-model="_category.selected">
                <b>{{_category.title}}</b>
              </label>
            </div>

        </form>

    </div>
</modal>