<header class="main-header">

    <logo></logo>

    <!-- Header Navbar -->
    <nav class="navbar navbar-static-top" role="navigation">
        <!-- Sidebar toggle button-->
        <a class="sidebar-toggle" @click="toggleSidebar">
            <span class="sr-only">Toggle navigation</span>
        </a>
        <!-- Navbar Right Menu -->
        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
                <!--<messages></messages>-->
                <!--<notifications></notifications>-->
                <user-account :user="user"></user-account>

                <!-- Control Sidebar Toggle Button -->
                <!--<li>
                    <a @click="toggleControlSidebar"><i class="fa fa-gears"></i></a>
                </li>-->
            </ul>
        </div>
    </nav>
</header>