<li class="treeview" v-if="studios && studios.length > 0">
    <a @click="toggle">
        <i class="fa fa-calendar"></i>
        <span>Расписание</span>
        <span class="pull-right-container">
            <i class="fa pull-right" :class="{'fa-angle-left': !showMenu, 'fa-angle-down': showMenu}"></i>
        </span>
    </a>
    <ul class="treeview-menu schedule-menu" :class="{'menu-open': menuOpened }" v-show="showMenu">
        <router-link active-class="active" :to="{name: 'schedule', params: { id: studio.id }}" tag="li" v-for="studio in studios">
            <a href="javascript:void(0);"><i class="fa fa-circle"></i><span>{{studio.title}}</span></a>
        </router-link>
    </ul>
</li>