.schedule-menu {
	&.menu-open {
    	display: block;    
	}

	span {
		white-space: normal;
	}
}

@menuWidth: 220px;

.sidebar-mini.sidebar-collapse .sidebar-menu>li:hover>a>span:not(.pull-right), 
.sidebar-mini.sidebar-collapse .sidebar-menu>li:hover>.schedule-menu {
    width: @menuWidth;
}

.sidebar-mini.sidebar-collapse .sidebar-menu>li:hover>a>.pull-right-container {
    left: @menuWidth !important;
}