<section class="content-header">
    <h1>
        {{title}}
        <small>{{description}}</small>
    </h1>
    <ol class="breadcrumb">
        <li v-for="item in breadCrumbs" :class="{ active: item.active }">
            <span v-if="item.active">{{item.text}}</span>
            <router-link v-else="item.active" :to="{name: item.name}">{{item.text}}</router-link>
        </li>
    </ol>
</section>