<main>
    <!--  -->
    <search-sidebar :itemsPerPage="itemsPerPage" :isBusy="isBusy" mode="studios" :criteria="currentCriteria" @search="search" :criteriaUpdatedCbk="criteriaUpdated" />

    <v-content>
      <v-container fluid class="content__search">
        
        <v-card v-if="pageDescription">
          <v-card-row>
            <v-card-title>
              {{pageTitle}}
            </v-card-title>
          </v-card-row>
          <v-card-row>
            <v-card-text>
              {{pageDescription}}
            </v-card-text>
          </v-card-row> 
        </v-card>

        <router-link :to="{ name: 'studio', params: { id: studioItem.id } }" v-for="studioItem in searchResults">
          <studio-card :studio="studioItem"/>
        </router-link>

        <infinite-loading :on-infinite="loadMore" :distance="50" ref="infiniteLoading" spinner="waveDots">
          <span slot="no-more" class="teal--text">
            <p v-if="searchResults.length > 0">¯\_(ツ)_/¯</p>
            <p v-else="searchResults.length === 0">¯\_(ツ)_/¯</p>
          </span>

          <span slot="no-results" class="teal--text">
            <p>¯\_(ツ)_/¯</p>
          </span>

        </infinite-loading>
          
      </v-container>
    </v-content>

</main>