<header-item class="dropdown user user-menu">
    <!-- Menu Toggle Button -->
    <a class="dropdown-toggle" v-if="user">
        <img :src="avatar" class="user-image" alt="User Image">
        <span class="hidden-xs">{{username}}</span>
    </a>
    <a class="dropdown-toggle unathenticated-user" v-else="user" @click="login">
        <span class="hidden-xs">Войти</span>
    </a>
    <user-account-dropdown v-if="user" :user="user"></user-account-dropdown>
</header-item>