<div class="table-responsive no-padding">
    <class-edit v-if="showEdit" :classItem="editableClass" @close="showEdit = false" :title="editableTitle"></class-edit>
    <table class="table table-hover" v-if="classes.length > 0">
        <tbody>
            <tr>
                <th style="width: 10px">Статус</th>
                <th>Класс</th>
                <th>Расписание</th>
                <th>Категория</th>
                <th>Действия</th>
            </tr>
            <tr>

            </tr>
            <class-item v-for="classItem in classes" :classItem="classItem" @edit="editClass" @delete="deleteClass"></class-item>
        </tbody>
    </table>
    <h4 v-else="classes.length > 0">Нет классов</h4>
</div>