<li>
    <!-- timeline icon -->
    <i class="fa" :class="{ 'fa-clock-o bg-grey': isValid === null, 'fa-check bg-green': isValid === true, 'fa-times-circle-o bg-red': isValid === false }"></i>
    <div class="timeline-item">
        <h3 class="timeline-header">Данные организации</h3>

        <div class="timeline-body">
            <form role="form">
                <text-input field="title" title="Название *" :value="companyName" :change="onChange" :validation-results="validationResults"></text-input>
                <phone-input field="phone" title="Телефон *" :value="phone" :change="onChange" placeholder="xxxxxxxx" :validation-results="validationResults"></phone-input>
                <phone-input field="mobile" title="Мобильный телефон" :value="mobile" :change="onChange" placeholder="+7xxxxxxxxxx" :validation-results="validationResults"></phone-input>
                <text-input field="email" title="Email *" :value="email" :change="onChange" :validation-results="validationResults"></text-input>
            </form>
        </div>

        <!--<div class="timeline-footer">

        </div>-->
    </div>
</li>