<modal :title="title" @close="$emit('close')" @submit="save" :isBusy="isBusy">
	<div slot="body">
		<div class="row">
			<div class="col-md-12">
				<form role="form">
					<div class="checkbox">
						<label class="control-label">
                			<input type="checkbox" v-model="classItem.enabled"> 
                			<b>Активен</b>
              			</label>
					</div>

					<text-input 
						field="title" 
						title="Название *" 
						:value="classItem.title" 
						:change="onChange" 
						:validation-results="validationResults">
					</text-input>

					<select-input 
						field="classCategoryId"
						title="Категория *"
						:change="onChange"
						:validation-results="validationResults"
						:options="categories"
						:value="classItem.classCategoryId"
						keyName="id"
						valueName="title"
						defaultTitle="Выберите категорию">
					</select-input>

				</form>
			</div>
		</div>

		<form role="form">

		</form>
	</div>
</modal>