<box-info>
    <i slot="header" class="fa bg-aqua" :class="iconClass" ></i>
    <i slot="header" class="fa fa-pencil pull-right" title="Редактировать" @click="$emit('edit')"></i>
    <h3 slot="header" class="box-title">{{title}}</h3>
    <div slot="body">
        <slot name="body" ></slot>
    </div>
</box-info>