<div class="form-group" :class="{ 'has-success': isValid === true, 'has-error': isValid === false }">
    <label class="control-label" :for="id">
     <i class="fa" :class="{ 'fa-check': isValid === true, 'fa-times-circle-o': isValid === false }"></i>
     <span>{{title}}</span>
    </label>
    <div class="input-group">
        <div class="input-group-addon">
        	<slot name="addon"></slot>
        </div>
        <slot name="inputType">
            <input type="text" class="form-control" :id="id" :value="value" :placeholder="placeholder" @input="onChange">
        </slot>
    </div>
    <span class="help-block">{{validationMessage}}</span>
</div>