<div class="pace pace-active" :class="{ 'pace-active': showSpinner, 'pace-inactive': !showSpinner }">
    <div class="pace-progress" data-progress-text="100%" data-progress="99" style="transform: translate3d(100%, 0px, 0px);">
        <div class="pace-progress-inner"></div>
    </div>
    <div class="pace-activity"></div>
</div>