<div class="row schedule">
	<div class="col-md-12">
		<div class="row">
            <div class="col-md-12">                
                <div class="page-header-rich">
                    <h2 >Классы</h2>
                    <div class="box-tools">
                        <button type="button" class="btn btn-primary margin" @click="showAdd = true"><i class="fa fa-plus"></i></button>
                    </div>
                </div>
            </div>
	    </div>
		
		<div class="row">
		    <div class="col-md-12">
		        <studio v-if="studio" :studio="studio" :classes="classes"></studio>
		    </div>
	    </div>

	    <class-edit v-if="showAdd" :classItem="addClass()" @close="showAdd = false" title="Добавление класса"></class-edit>
    </div>
</div>