<modal :title="title" @close="$emit('close')" @submit="save" :isBusy="isBusy">
	<div slot="body">

<!-- 		<div v-if="serverError" class="alert alert-warning alert-dismissible">
			<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
			<h4><i class="icon fa fa-warning"></i> Alert!</h4>
			{{serverError}}
        </div> -->

        <div class="row" v-if="serverErrors.length > 0">
            <div class="col-md-12">
                <alert-box title="Внимание!" :messages="serverErrors"  @close="serverErrors = []"/>
            </div>
        </div>

		<form role="form">
			<text-input field="title" title="Название *" :value="_studio.title" :change="onChange" :validation-results="validationResults"></text-input>

			<div class="checkbox">
              <label class="control-label">
                <input type="checkbox" v-model="_studio.enabled"> 
                <b>Активна</b>
              </label>
            </div>

			<phone-input field="phone" title="Телефон *" :value="_studio.phone" :change="onChange" placeholder="xxxxxxxx" :validation-results="validationResults"></phone-input>

			<phone-input field="mobile" title="Мобильный телефон" :value="_studio.mobile" :change="onChange" placeholder="7xxxxxxxxxx" :validation-results="validationResults"></phone-input>

			<addon-input field="email" title="Email *" :value="_studio.email" :change="onChange" :validation-results="validationResults">
				<span slot="addon">@</span>
			</addon-input>

			<text-input field="city" title="Город *" :value="_studio.city" :change="onChange" :validation-results="validationResults" :isDisabled="true"></text-input>

            <text-input field="state" title="Область *" :value="_studio.state" :change="onChange" placeholder="Ленинградская область" :validation-results="validationResults" :isDisabled="true"></text-input>

            <text-input field="address" title="Адрес *" :value="_studio.address" :change="onChange" :validation-results="validationResults"></text-input>

            <text-input field="zip" title="Почтовый индекс" :value="_studio.zip" :change="onChange" :validation-results="validationResults"></text-input>			
		</form>
	</div>

<!-- 	<div slot="footer">
	</div> -->
</modal>