<div class="form-group" :class="{ 'has-success': isValid === true, 'has-error': isValid === false }">
    <label class="control-label" :for="id">
     <i class="fa" :class="{ 'fa-check': isValid === true, 'fa-times-circle-o': isValid === false }"></i>
     <span>{{title}}</span>
    </label>
    <select class="form-control" :value="value" :id="id" @change="onChange" :disabled="isDisabled">
    	<option disabled value="" :selected="!value">{{defaultTitle}}</option>
    	<option v-for="option in options" :value="option[keyName]">{{option[valueName]}}</option>
    </select>
    <span class="help-block">{{validationMessage}}</span>
</div>