<modal :title="title" @close="$emit('close')" @submit="save" :isBusy="isBusy">
	<div slot="body">
		<div class="row">
			<div class="col-md-12">
				<button type="button" class="btn btn-primary margin" @click="addSchedule"><i class="fa fa-plus"></i></button>
				<ul>
					<li class="text-red" v-for="error in validationMessages">{{error}}</li>
				</ul>
				<table class="table table-hover">
					<tbody>
						<tr>
							<th style="width: 10px">Активно</th>
							<th>Начало</th>
							<th>Конец</th>
							<th>Слоты</th>
							<th>Действия</th>
						</tr>
						<tr v-for="(schedule, index) in editableSchedules">
							<td><input type="checkbox" v-model="schedule.enabled" /></td>
							<td>
								<inline-text-input 
									class="edit-time" 
									placeholder="ЧЧ:ММ" 
									field="startTime" 
									:target="schedule"
									:index="index" 
									:value="schedule.startTime" 
									:validation-results="validationResults" 
									:change="onChange" />
							</td>
							<td>
								<inline-text-input 
									class="edit-time"
									field="endTime" 
									placeholder="ЧЧ:ММ"  
									:target="schedule"
									:index="index" 
									:value="schedule.endTime" 
									:validation-results="validationResults" 
									:change="onChange" />
							</td>
							<td>
								<inline-text-input 
									class="edit-slots" 
									field="quantity" 
									:target="schedule"
									:index="index" 
									:value="schedule.quantity"  
									:validation-results="validationResults" 
									:change="onChange" />
							</td>
							<td>
								<div class="btn-group">
								<button type="button" class="btn btn-danger" @click="deleteSchedule(schedule)"><i class="fa fa-trash"></i></button>
								</div>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>

		<form role="form">

		</form>
	</div>
</modal>