<main>

    <search-sidebar @input="criteriaUpdated" @search="search" :itemsPerPage="itemsPerPage" :isBusy="isBusy"/>

    <v-content>
      <v-container fluid class="content__search">
        <router-link :to="{ name: 'studio', params: { id: scheduleItem.studioId } }" v-for="scheduleItem in searchResults">
          <schedule-card :schedule-item="scheduleItem"/>
        </router-link>

        <infinite-loading :on-infinite="loadMore" :distance="50" ref="infiniteLoading" spinner="waveDots">
          <span slot="no-more" class="teal--text">
            <p v-if="searchResults.length > 0">¯\_(ツ)_/¯ это все расписания</p>
            <p v-else="searchResults.length === 0">¯\_(ツ)_/¯ ничего не найдено</p>
          </span>

          <span slot="no-results" class="teal--text">
            <p>¯\_(ツ)_/¯ ничего не найдено</p>
          </span>

        </infinite-loading>
          
      </v-container>
    </v-content>

</main>