
@media (min-width: 1200px) {
	div .width-auto {
	    width: auto;
	}

	.content__schedule {
		height: ~'calc(100% - 78px)';
		overflow-y: scroll;
		overflow-x: hidden;
		position: absolute;
		width: ~'calc(100% - 300px)';
	}
}

.pagination>li>a, .pagination>li>span {
	color: #009688;
}
