.overlay, .overlay-wrapper .overlay {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 50;
    background: rgba(0,0,0,0.1);
    border-radius: 3px;
    width: 100%;
    height: 100%;
}

.overlay>.fa, .overlay-wrapper .overlay>.fa {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -15px;
    margin-top: -15px;
    color: #000;
    font-size: 30px;
}